.container{
    width: 1000px;height: 500px;border: 1px solid red;margin: 0px auto;
    display: flex;
    align-items: centers;


}
.col{
    width: 250px;height: 300px;background-color: blue;float: left;
    border: 2px solid black;
    padding: 50px 70px;
    margin: 20px;
    display: flex;
    align-items: center;
}