*{
    margin: 0;
    font-family: sans-serif;
    padding: 0;
    box-sizing: border-box
}

header h2, header button, header a{
    font-family: 'Courier New', Courier, monospace;
}

header{
    position: relative;
    top: 0;
    left: 0;
   background: linear-gradient(90deg, #ff0000, #0066ff);
    width: 100%;
    padding: 10px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 2px 4px black;
}


.logo{
    font-size: 2em;
    border: 1px solid rgb(245, 245, 245);
    border-color:rgb(162, 25, 25) rgb(227, 125, 176) greenyellow rgb(238, 238, 126) ;
    padding: 10px;
    font-weight:bolder;
    color: white;
    font-style: oblique;
    border-radius: 1px 35px 1px 35px;
    text-shadow: 2px 5px 10px black;
    box-shadow: 2px 3px 6px black;
    background-color: blue;
    user-select: none;
}
.navigation a{
    position: relative;
    font-size: 20px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-left: 40px;
}



.btn-login{
    width: 100px;
    height: 40px;
    background-color: transparent;
    cursor: pointer;
    margin-left: 50px;
    font-size: 18px;
    font-weight: bolder;
    border: 2px solid white;
    outline: none;
    border-radius: 1px 10px 1px 10px;
    color: white;
    transition: 0.3s;
}

.btn-login:hover{
    background-color: white;
    color: black;
}

.btn-login:active{
    background-color: rgb(213, 12, 12);
    color: white;
    border: 0px;
}

.navigation .ahref::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 1px;
    background-color: white;
    border-radius: 5px;
    transform:scaleX(0);
    transition: transform 0.4s;


}

.navigation .ahref:hover::after{
    transform: scaleX(1);
}

.wrapper{
    position: relative;
    width: 400px;
    height: 440px;
    background-color: transparent;
    border: 2px solid rgb(116, 113, 113);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px black;
    display: flex;
    justify-content: center;
    align-items: center;

}